exportPattern("^[[:alpha:]]+")
import(sp)
import(rgdal)
import(maptools)
import(raster)
importFrom(utils,"txtProgressBar","setTxtProgressBar")
importFrom(soiltexture,"TT.points.in.classes","TT.normalise.sum")
importFrom(FuzzyAHP, "pairwiseComparisonMatrix", "consistencyRatio", "calculateWeights", "calculateAHP")
importFrom(methods, "as")
importFrom(Hmisc,"histbackback")
importFrom(stats,"ks.test", "as.formula", "fitted", "lm", "cor", "sd", "splinefun")
import(caret)
importFrom(randomForest,"randomForest")
importFrom(arm, "bayesglm")
importFrom(kernlab, "ksvm")
importFrom(e1071, "svm")
importFrom(Cubist,"cubist")
importFrom(rpart, "rpart")
importFrom(ranger, "ranger")
import(qrnn)
import(quantregForest)
importFrom(nnet,"nnet")
importFrom(deSolve,"ode")
importFrom(nlme,"nlme")


